*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    height: 120vh;
}

.div-wrapper { 
    width: 100%;
    position: relative;
    display: block;
}

/*align horizontal y justify vertical*/
/*TOP-WRAPPER*/
.divtop-wrapper{
    margin-top: 0px;
    position: absolute;
    z-index: 1;
    position: sticky;
    top: 0;
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: #2b91df;
}

.div-backhome{
    margin-left: 0px;
}

.div-logout{
    margin-left: 1150px;
}

.a-btnhome{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.a-logout{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.a-logout:hover{
    color: #d34240;
    transition: 400ms;
}

/*CONTENT-WRAPPER*/
.divcontent-wrapper{
    height: 800px;
    width: 100%;
    margin-top: 0px;
    padding: 10px 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-image: url(../imgs/img-login-screen.jpg);
    backdrop-filter: blur(2px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.divpics-conf {
    flex-direction: column;
    background-color: rosybrown;
    width: 400px;
}

.divinfo-conf{
    background-color: green;
}

.divedit-conf{
    background-color: black;
    width: 200px;
}

.profile-pic{
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
    width: 400px;
    height: 400px;
}

.profile-pic img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
    margin-left: 15px;
}

.pic-change {
    margin-left: 10px;
    display: block;
}

.pic-change input{
    margin-left: 5px;
}